<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>
  <style>
    .input_field{
      border: none;
      border-bottom: 1px solid royalblue;
      outline: none;
    }
  </style>
  <body>
    <div>
      <h1>SIGN UP</h1>
    </div>
    <form id=" signup-form">
      <div>
        <label for=""> username</label>
        <input class="input_field" type="text" name=""/>
      </div>
      <div>
        <label for=""> Email</label>
        <input class="input_field" type="email" name="email" required/>
      </div>

      <div>
        <label for="">Password</label>
        <input class="input_field" type="password" name="password1" required/>
      </div>

      <div>
        <label for="">Confirm password</label>
        <input class="input_field" type="password" name="password2" required/>
      </div>
      
      <div>
        <input type="submit" value="signup">
      </div>
    </form>

    <script src="/javascripts/signup"></script>
  </body>
</html>
